@mixin mainFont ($color: #ffffff, $weight: normal) {
    font-family: 'Josefin Sans', sans-serif;
    color: $color;
    font-weight: $weight;
}

@mixin scndFont ($color: #ffffff, $weight: normal) {
    font-family: 'Aleo', serif;
    color: $color;
    font-weight: $weight;
}

//-----

@mixin bgCover {
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
  
//-- MEDIA

@mixin media ($width) {
    @media only screen and (min-width: $width) {
      @content;
    }
}


// FLEX 

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}