@use 'mixin' as *;
@use 'var' as *;


@font-face {
    font-family: 'Icomoon';
    src: url(../assets/fonts/icomoon/fonts/icomoon.ttf);
}

.container {
    margin: 0 auto;
    padding: 20px;
    width: 100%;

    @include media ($phone) {
        width: 50%;
    }

    @include media ($tablet) {
        width: 70%;
    }
}

.btn {
    background-image: linear-gradient(45deg, #496bfe, #496bfe 40%, $accentColor 40%);
    border: none;
    color: $textColor;
    display: inline-block;
    text-transform: uppercase;
    @include scndFont ($textColor, 400);
    font-size: .7rem;
    padding: 10px 20px;
    width: max-content;
    cursor: pointer;

    @include media ($tablet) {
        &:hover,
        &:focus {
            animation-name: background-image;
            animation-timing-function: ease-in-out;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }

        @keyframes background-image {
            100% {
                background-color: $accentColor;
                background-image: none;
            }
        }
    }
}

.header-link {
    color: inherit;
    text-decoration: none;
}

