//--COLORS
$textColor: #ffffff;
$textInput: #999999;
$darkSection: #333333;
$accentColor: #5474fd;

    // ICON COLORS
    $search: $accentColor;
    $check: #ff6363;
    $like: #00a2ff;

//-- MEDIA 
$phone: 480;
$tablet: 768px;
$desktop: 1200px;