@use '../components' as *;

.intro {
    background-image: url(../assets/img/intro-bg.png);
    height: 100vh;
    @include bgCover;
    @include flexCenter;
    flex-direction: column;
    justify-content: space-between;

    &__header {
       text-align: center;
       margin-top: 200px;
    }

    &__heading {
        @include mainFont;
        text-transform: uppercase;

        @include media ($tablet) {
            font-size: 3rem;
        }
    }

    &__subheader {
        @include mainFont($textColor, 100);
        text-transform: capitalize;
        font-size: 1rem;
        letter-spacing: 7px;
    }

    &__search {
        width: 65%;
        background-color: $textColor;
        padding: 3px;
        display: flex;
        justify-content: space-between;

        &-btn {
            padding: 11px 20px;
            
        }
    }

    &__search-input {
        padding: 10px 20px;
        width: 80%;
        border: none;
        
        &::placeholder {
            @include mainFont ($textInput, 100);
            text-transform: capitalize;
            text-align: center;
        }
    }
    
    .content {
    margin-top: 40px;
    @include flexCenter;
    flex-direction: column;

    @include media ($tablet) {
        margin-top: 60px;
    }
}




}

.scroll {
    margin-top: 20px;

    @include media ($tablet) {
        margin-top: 50px;
    }

    a {
        display: flex;
        flex-direction: column;   
    }

    &-link {
        @include mainFont ($textColor, 100);
        text-decoration: none;
        text-transform: capitalize;

        .svg {
            transform: rotate(90deg);
            margin: 0 auto;
            fill: $textColor;
        }
    }   
}

.menu {
    background-color: $accentColor;
    color: $textColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 15px 20% 15px;

    @include media ($tablet) {
        flex-direction: row;
        height: auto;
        justify-content: space-between
    }

    &__heading {
        @include mainFont ($textColor, 400);
        text-transform: uppercase;
        font-size: 1.2rem;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        @include media ($tablet) {
            flex-direction: row;
        }

        &-link {
            text-decoration: none;
            text-transform: uppercase;
            @include scndFont;
            font-size: .7rem;
            padding: 10px 15px;
            text-align: center;
        }
    }
}
